<!doctype html>
<html lang="zh">
  {% include headers.html %}
  <body>
    <div id="contentPane" class="paperi main">
      <h1>Frame of 42yeah</h1>
      <small>
        <span id="quote">What's the point of beauty?</span><br />
        <a href="/atom.xml"><img src="/assets/rss.svg" alt="RSS" width="14px" height="14px"> RSS 订阅</a>
      </small>
      <hr />
      <section>
        {% include translator.html %}
        {{ content }}
      </section>
      {% include commentary.html %}
    </div>
  </body>
</html>
