<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Frame of 42yeah</h1>
    <small>What's the point of beauty?</small>
    <hr />
    <section>
      {{ content }}
    </section>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "https://potion4.github.io/{{ page.url }}"; 
        this.page.identifier = "{{ page.title }}";
      };
      
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://frame-of-42yeah.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
  </body>
</html>
